*.DS_Store
.ipynb_checkpoints/
RelationalFeatureAnalyzer_backup.py
code/coreNLP/
code/corenlp-python/
code/example.bitstring
code/example.embedding
code/minitagger/model_path/
code/minitagger/.idea/
code/minitagger/__pycache__/
code/minitagger/active_output_path/
code/minitagger/all_models/
code/minitagger/code_pieces.txt
code/minitagger/exec_command.txt
code/minitagger/run_demo.py
code/minitagger/server_test_data.txt
code/minitagger/testing_my_code.py
code/minitagger/testing_old_code.py
code/stanford_parsing/
code/syntaxnet/
code/test.txt
code/train.txt
corenlp-python/
data/.ipynb_checkpoints/
data/absa_preprocessing.py
data/absa_restaurant_14.xml
data/absa_restaurant_16.xml
data/balance_dataset.py
data/merge_datasets.py
data/mpqa_preprocessing.py
data/opinion_mining.txt
data/sample_test.txt
data/test_14.txt
data/test_16.txt
data/toy_test.txt
data/toy_train.txt
data/train_14.txt
data/train_16.txt
data/word_embeddings.p
deep_learning.txt
github_minitagger/
github_repositories_spacy/
jupyter/
minitagger_backup_v1.tar.gz
minitagger_backup_v2.zip
papers/
report/
word2Vec/
